<%- include('../_layouts/admin_header'); %>
	
	<h2 class="page-title">Edit a Page</h2>
	<a href="/admin/pages" class="btn btn-primary">Back 2 pages</a>
	<br><br>
	
	<form method="post" action="/admin/pages/edit-page/<%= slug %>">
	
		<div class="form-group">
			<label class="form-label">Title</label>
			<input type="text" class="form-control" name="title" value="<%= title%>" placeholder="Title">
			
		</div>
	
		<div class="form-group">
			<label class="form-label">Slug</label>
			<% if(slug == "home") { %>
				<input type="text" class="form-control" name="slug" value="<%= slug%>" placeholder="Slug" disabled>
			<%} else { %>
				<input type="text" class="form-control" name="slug" value="<%= slug%>" placeholder="Slug">
			<% } %>
		</div>
	
		<div class="form-group">
			<label class="form-label">Content</label>
			<textarea id="ta" name="content" class="form-control" col="30" row="10"><%= content%></textarea>
		</div>
		
		<br>
		<input type="hidden" name="id" value="<%= id %>">
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
<%- include('../_layouts/admin_footer') %>


